services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: trackly
      POSTGRES_USER: trackly_user
      POSTGRES_PASSWORD: trackly_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DJANGO_SETTINGS_MODULE: src.settings
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    tty: true
    stdin_open: true
    command: npm run dev

volumes:
  postgres_data: